<?php

use Polymorphine\CodeStandards\FixerFactory;

$filter = function (SplFileInfo $file) {
    $samples = __DIR__ . DIRECTORY_SEPARATOR . 'tests' . DIRECTORY_SEPARATOR . 'CodeSamples';
    return strpos($file->getPath(), $samples) !== 0;
};

return FixerFactory::createFor('Polymorphine/CodeStandards', __DIR__, [$filter]);
