<?xml version="1.0"?>
<!-- Code Sniffer configuration for Polymorphine/CodeStandard package only -->
<ruleset name="Polymorphine-cs">
    <autoload>./vendor/autoload.php</autoload>
    <rule ref="./src/Sniffer">
        <exclude name="Sniffer.PhpDoc.RequiredForPublicApi.Missing"/>
    </rule>
    <rule ref="Sniffer.PhpDoc.CallableDefinition">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>
</ruleset>
