<?xml version="1.0"?>
<ruleset name="Polymorphine-projects">
    <description>Polymorphine coding standard</description>
    <autoload>./vendor/autoload.php</autoload>
    <rule ref="./src/Sniffer"/>
</ruleset>
